/* اضافه کردن فونت Capsule */
@font-face {
    font-family: 'Capsule';
    src: url('fonts/Capsule-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* بدنه صفحه */
body {
    direction: rtl;
    font-family: 'Capsule', sans-serif;
    background-color: #000000; /* مشکی */
    color: #fdba24;           /* زرد */
    margin: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/* عکس عسل بالای صفحه */
.honey-banner img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* لوگو */
.logo {
    width: auto;
    max-width: 90%;
    height: 38vh; /* بزرگ ولی جا دار */
    margin-bottom: 20px;
}

/* دکمه‌ها */
.d-grid .btn-big {
    padding: 12px 16px;
    font-size: 1.1rem;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

/* دکمه‌های زنبوری */
.btn-yellow {
    background-color: #fdba24;
    color: #000;
    border: none;
}
.btn-yellow:hover {
    background-color: #e0a31b;
}

.btn-black {
    background-color: #000000;
    color: #fdba24;
    border: 2px solid #fdba24;
}
.btn-black:hover {
    background-color: #222;
}

footer {
    margin-top: 20px;
    color: #ccc;
    font-size: 0.9rem;
}
