/* style.css */
body {
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    padding-top: 40px;
    background-color: #000000; /* مشکی کامل */
    color: #fdba24; /* زرد */
    margin: 0;
    text-align: center;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.logo {
    width: 250px; /* بزرگتر */
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.d-grid .btn-big {
    padding: 14px 20px;
    font-size: 1.2rem;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

/* دکمه‌ها */
.btn-primary {
    background-color: #fdba24;
    color: #000;
    border: none;
}
.btn-primary:hover {
    background-color: #e0a31b;
}

.btn-success {
    background-color: #fdba24;
    color: #000;
    border: none;
}
.btn-success:hover {
    background-color: #e0a31b;
}

.btn-outline-secondary {
    color: #fdba24;
    border: 2px solid #fdba24;
}
.btn-outline-secondary:hover {
    background-color: #fdba24;
    color: #000;
}

.btn-dark {
    background-color: #222;
    color: #fdba24;
    border: 2px solid #fdba24;
}
.btn-dark:hover {
    background-color: #333;
}

footer {
    margin-top: 50px;
    color: #ccc;
    font-size: 0.9rem;
}
