/* style.css */
body {
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
    background-color: #000000; /* مشکی */
    color: #fdba24; /* زرد */
    margin: 0;
    text-align: center;
}

/* تصویر عسل در بالای صفحه */
.honey-banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* لوگو خیلی بزرگ */
.hero {
    padding: 40px 20px;
}
.logo {
    width: 300px; /* بزرگتر */
    max-width: 90%;
    height: auto;
    margin-bottom: 30px;
}

/* دکمه‌ها */
.d-grid .btn-big {
    padding: 16px 20px;
    font-size: 1.3rem;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

/* دکمه‌های زنبوری */
.btn-yellow {
    background-color: #fdba24;
    color: #000;
    border: none;
}
.btn-yellow:hover {
    background-color: #e0a31b;
}

.btn-black {
    background-color: #000000;
    color: #fdba24;
    border: 2px solid #fdba24;
}
.btn-black:hover {
    background-color: #222;
}

/* فاصله پایین صفحه */
footer {
    margin-top: 50px;
    color: #ccc;
    font-size: 0.9rem;
}
